<h1><%= t('event.index') %></h1>

<div class="buffer-both">
  <%= link_to t('event.new'), new_event_path, class: 'btn btn-success' %>
</div>

<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
</div>